.container {
  position: relative;
  height: 100px;
  background-color: steelblue;
}

.one {
  position: relative;
  z-index: 2;
  background-color: teal;
  padding: 20px;
  width: 200px;
}

.two {
  position: absolute;
  z-index: 1;
  background-color: tomato;
  top: 40px;
  left: 40px;
  width: 200px;
  padding: 20px;
}
